[run]
omit =
    /usr/lib/python3/dist-packages/*
    # Add any other directories or files you want to ignore here

[report]
exclude_lines =
    pragma: no cover
    if self.debug:
    raise NotImplementedError
